<div class="text-class event-date">
    <p class="headers">Buzz me</p>
    <p>In case if you lost somewhere, give us a call on these numbers.
    </p>
    <p>
        <span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp; <span style="font-family:'Black Ops One'">+91 9966650824</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:'Black Ops One'">+91 9618119913</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:'Black Ops One'">+91 8978258998</span>
    </p>
</div>