<div>
    <p class="text-class dinner">
        <span class="headers">Eat Drink Relax</span>
    </p>
    <p class="text-class">
        “If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.”
    </p>
    <p class="text-class1">
        ― J.R.R. Tolkien
    </p>
    <p class="text-class">
        That being said, we serve you with a variety of delicious South Indian dishes
        <br> with soft drinks.
        <br>So <span style="font-family:Syncopate">Eat Drink</span> and <span style="font-family:Syncopate">Relax</span>.
    </p>
    <p class="text-class">
        Dinner Starts from 8PM.
    </p>
    <image src="../images/banana-leaf.jpg" class="img-banana"></image>
</div>