<div class="text-class event-date">
    <p><span class="headers">Muhurtham </span><span style="font-size:9px">(Date and time set by our beloved Astrologer)</span>
    </p>
    <p>The sacred muhurtham was set by Veda Pandit
        <br> based on our birth stars and time of birth.</p>
    <p>
        <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp; <span style="font-family:'Black Ops One'">6th of December 2015</span>
        <br><span class="glyphicon glyphicon-time"></span> &nbsp;&nbsp;<span style="font-family:'Black Ops One'">8:45 PM</span>
    </p>
</div>