<div class="innerWrapper">
    <div class="row">
        <div class="columns">
            <p class="text-class">"In true marriage lies Nor equal, nor unequal.
                <br>Each fulfils defect in each, And always thought in thought,
                <br>Purpose in purpose, will in will, they grow,
                <br> The single pure and perfect animal,
                <br>The two-celled heart beating, with one full strike, Life"</p>
            <p class="text-class1">-Alfred, Lord Tennyson</p>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <p class="text-class">We have waited so long for this occasion and here it is for us
                <br> <span>to become one.</span>
                <br>On this occasion, we request you to be a part of our celebration.
            </p>
        </div>
        <div class="columns" style="text-align:right;margin-right:30px;margin-top:15px; text-decoration:underline">
            <a ng-href="https://en.wikipedia.org/wiki/Telugu_wedding_ceremony" target="_blank">Marriage! Know how<span class="glyphicon glyphicon-hand-up"></span></a>
        </div>
    </div>
    <div class="row">
        <svg viewBox="0 0 800 600">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="9%" class="text--line">
                    Vijay Bhargav
                </text>
                <text text-anchor="middle" x="50%" y="19%" class="text--line2">
                    Amuktha
                </text>

            </symbol>

            <g class="g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
    </div>